@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to</h3>
    <h1 class="display-4">Yarn Today<br />More Yarn Tomorrow</h1>
    <p>(We sell yarn)</p><br />

    <p>Are you a shopper, or employee?</p><br />
    <a asp-action="Index" asp-controller="Storefront"><input type="submit" value="Shopper" /></a>
    <a asp-action="Employee" asp-controller="Product"><input type="submit" value="Employee" /></a>


</div>
